@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p>@saveMessage</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string saveMessage="hi";

    async Task IncrementCount()
    {
        IncrementCount2();
    }
    private void IncrementCount2()
    {
        currentCount++;
        Console.WriteLine($"The current count is {currentCount}");
        saveMessage="first try "+currentCount;
    }
}
