@page "/"
@* <summary>
    This Blazor page is the home page of the Xeno-Canto Labeling Platform. It provides an overview of the platform and its purpose.
    </summary>
    <remarks>
    The page contains a welcome message and a guide to using the Spectrogram page.
    </remarks>
*@
<PageTitle>Home</PageTitle>

<h1>Welcome to the Xeno-Canto Labeling Platform!</h1>
<p>The Xeno-Canto Labeling Platform aims to enhance the Xeno-Canto database by providing a public platform where users can collaboratively label recordings using a Wikipedia-like approach. These user-generated labels will be displayed in spectrograms for precise localization of animal sounds and made accessible via an API for researchers and developers.
<br /><br />
<h2>Guide to Using the Spectrogram Page</h2>
On the Spectrogram page of the Xeno-Canto Labeling Platform, you have the opportunity to actively contribute to the enhancement of our database. Here’s your task:
<ol>
    <li>Search for an animal’s ID: Enter the ID of the animal in the search field. The ID can be from the database or from another reliable source.</li>
    <li>View the Spectrogram: Upon entering the ID, an image of a spectrogram should appear on the screen. A spectrogram is a visual representation of frequencies contained in a sound recording and is often used to analyze animal sounds.</li>
    <li>Draw rectangles around the recording: On the spectrogram, you are to draw rectangles around the visible recordings. These rectangles mark the specific areas of the spectrogram that contain the animal sound.</li>
</ol>
Your contributions help us improve the accuracy and richness of our database, which in turn benefits researchers and developers worldwide.
If you encounter any problems or if something doesn’t work, please do not hesitate to contact us. You can open an issue or contact us directly. We appreciate your support and thank you for your participation in the Xeno-Canto Labeling Platform!
<br /><br />
<h2>User page</h2>
<p>On the User page, you can create a new user in the database. Simply enter your name in the input field and click the "Submit" button. Your user data will be sent to the server and saved in the database. You will receive a confirmation message once the user has been successfully created.
</p>
</p>